@import "reset.css" screen;


body{
   background: #eee9e1;
   font-family: Arial;
}

a{
   color: inherit;
}

a:hover{
   color: #cbaf55;
}

.max-head{
   background: #504441;
   height: 58px;
   line-height: 58px;
   font-family: Times New Roman;
   color: #ffffff;
   vertical-align: middle;
   font-size: 18px;
   position: relative;
   z-index: 2;
}

.max-head img{
   vertical-align: middle;
}

.star{
   margin-right: 25px;
}

.max-head span{
   font-style: italic;
}

.w940{
   width: 940px;
   position: relative;
   margin: 0 auto;
}

.head{
   background: url('../img/head.png');
   min-height: 110px;
}

.head.has-submenu{
   min-height: 165px;
}

.submenu{
   min-height: 55px;

   line-height: 55px;
   background: url('../img/submenu-bg.png');
   color: #504441;
   font-size: 14px;
   vertical-align: middle;
   text-align: center;
   background-size: contain;
}



.submenu a{
   text-decoration: none;
}

.submenu img{
   vertical-align: middle;
   margin: 0 10px;
}

.need-shadow{
   box-shadow: 0 0 25px rgba(0,0,0,0.3);
}

.logo{
   background: url('../img/logo.png') no-repeat scroll 0 35px;
   width: 108px;
   height: 39px;
   cursor: pointer;
   padding-top: 35px;
   margin-right: 49px;
   float: left;
   display: inline-block;
}


.lang-city{
   float: right;
   white-space: nowrap;
   width: 400px;
   vertical-align: middle;
   font-style: italic;
   text-align: right;
}

.langs{
   display: inline-block;
   vertical-align: middle;
   margin-right: 40px;
}

.langs > div{
   display: inline-block;
   cursor: pointer;
   width: 68px;
   height: 25px;
   vertical-align: middle;
}

.langs > div.ru{
   background: url('../img/ru.png') no-repeat;
}

.langs > div.en{
   background: url('../img/en.png') no-repeat scroll 100% 0;
}

.menu{
   display: inline-block;
   height: 110px;
   line-height: 110px;
   color: #ffffff;
   vertical-align: middle;
   font-size: 14px;
   margin-bottom: -2px;
}

.menu a{
   text-decoration: none;
   position: relative;
}

.menu a.active:after{
   background: url('../img/submenu.png') no-repeat;
   width: 58px;
   height: 16px;
   position: absolute;
   left: 50%;
   margin-left: -29px;
   margin-top: 92px;
   content: " ";
   opacity: 0.3;
}

.has-submenu .menu a.active:after{
   opacity: 1;
}

.submenu a.active{
   background: url('../img/submenu-active.png');
   height: 33px;
   padding: 0 18px;
   line-height: 33px;
   color: #ffffff;
   margin: -1px -18px 0px;
   position: relative;
   z-index: 2;
   color: #ffffff;
   display: inline-block;
   vertical-align: middle;
   border-radius: 4px;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
}

.menu a.active{
   color: #cbaf55;
}

.menu img{
   vertical-align: middle;
   margin: 0 10px;
}

.phone{
   font-size: 22px;
   font-family: Times New Roman;
   float: right;
   color: #ffffff;
   line-height: 50px;
   text-align: right;
}

.bron-button{
   background: url('../img/bron-but.png') no-repeat;
   width: 173px;
   height: 35px;
   cursor: pointer;
   float: right;
}

.bron-button:hover{
   background: url('../img/bron-but-hover.png') no-repeat;
}

.slider{
   width: 100%;
   position: relative;
   background-size: cover;
   top: 0;
   box-sizing: border-box;
   overflow: hidden;
}

.slider.inner{
   height: 540px;
}

.slide{
   width: 100%;
   position: absolute;

   -webkit-transition-duration: 1s;
   -moz-transition-duration: 1s;
   -o-transition-duration: 1s;
   -ms-transition-duration: 1s; /* IE9+ */
   transition-duration: 1s;

   background-size: cover;
   background-position: 50% 50%;
}

.slides-over{
   position: absolute;
   overflow: hidden;
   width: 100%;

}

.one-num{
   display: inline-block;
   width: 30px;
   height: 30px;
   margin: 0 5px;
   cursor: pointer;
   position: relative;
   vertical-align: middle;
}

.one-num:before{
   position: absolute;
   content: " ";
   width: 8px;
   height: 8px;
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   background: #c2bab4;
   top: 11px;
   left: 11px;
}

.one-num.active{
   width: 28px;
   height: 28px;
   border: 1px solid #cbaf55;
   border-radius: 15px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
}

.one-num.active:before{
   background: #cbaf55;
   top: 10px;
   left: 10px;
}



.slides{
   display: inline-block;
   width: auto;
}

.photo-slide{
   width: 1120px;
   height: 520px;
   display: inline-block;
   overflow:hidden;
}

.photo-slide .slide{
   background-size: contain;
   margin-top: 60px;
}

.photo-slide img{
   width: 100%;
   
}
.big-left-arr{
   position: absolute;
   /**/
   width: 128px;
   margin-left: 0;
   opacity: 0.9;
   cursor: pointer;
   height: 520px;

   background-image: linear-gradient(left, rgba(0,0,0,0.3), rgba(0,0,0,0.7));
   background-image: -o-linear-gradient(left, rgba(0,0,0,0.3), rgba(0,0,0,0.7));
   background-image: -moz-linear-gradient(left, rgba(0,0,0,0.3), rgba(0,0,0,0.7));
   background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.3), rgba(0,0,0,0.7));
   background-image: -ms-linear-gradient(left, rgba(0,0,0,0.3), rgba(0,0,0,0.7));
   background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0, rgba(0,0,0,0.3)), color-stop(1, rgba(0,0,0,0.7)));
}

.big-left-arr:before{
   width: 100%;
   height: 100%;
   background: url('../img/big-left-arr.png') no-repeat scroll 50% 50%;
   position: absolute;
   content: " ";
   display: none;
}


.big-left-arr:hover:before {
   display: block;
}

.big-left-arr:hover{
   opacity: 1;
}


.big-right-arr{
   position: absolute;
   /*background: url('../img/big-right-arr.png') no-repeat scroll 50px 50%;*/
   width: 128px;
   right: 0;
   cursor: pointer;
   height: 520px;
   opacity: 0.9;
   background-image: linear-gradient(right, rgba(0,0,0,0.3), rgba(0,0,0,0.7));
   background-image: -o-linear-gradient(right, rgba(0,0,0,0.3), rgba(0,0,0,0.7));
   background-image: -moz-linear-gradient(right, rgba(0,0,0,0.3), rgba(0,0,0,0.7));
   background-image: -webkit-linear-gradient(right, rgba(0,0,0,0.3), rgba(0,0,0,0.7));
   background-image: -ms-linear-gradient(right, rgba(0,0,0,0.3), rgba(0,0,0,0.7));
   background-image: -webkit-gradient(linear, right bottom, left bottom, color-stop(0, rgba(0,0,0,0.3)), color-stop(1, rgba(0,0,0,0.7)));
}

.big-right-arr:before{
   width: 100%;
   height: 100%;
   background: url('../img/big-right-arr.png') no-repeat scroll 50% 50%;
   position: absolute;
   content: " ";
   display: none;
}


.big-right-arr:hover:before {
   display: block;
}

.big-right-arr:hover{
   opacity: 1;
}


.numbers{
   margin-top: 520px;
   position: absolute;
   height: 80px;
   vertical-align: middle;
   line-height: 80px;
   width: 100%;
   text-align: center;
}

.sl-trans{
   -webkit-transition-duration: 1s;
   -moz-transition-duration: 1s;
   -o-transition-duration: 1s;
   -ms-transition-duration: 1s; /* IE9+ */
   transition-duration: 1s;
}

.left-arr{
   display: inline-block;
   background: url('../img/left-arr.png') no-repeat;
   width: 33px;
   height: 9px;
   margin-right: 30px;
   vertical-align: middle;
   cursor: pointer;
}

.right-arr{
   display: inline-block;
   background: url('../img/right-arr.png') no-repeat;
   width: 33px;
   height: 9px;
   margin-left: 30px;
   vertical-align: middle;
   cursor: pointer;
}

.shadow{
   width: 90%;
   height: 26px;
   box-shadow: 0 0 15px 3px rgba(0,0,0,0.4);
   border-radius: 100%;
   -moz-border-radius: 100%;
   -webkit-border-radius: 100%;
   position: absolute;
   margin-top: 494px;
   left: 50%;
   margin-left: -45%;
   z-index: -1;
}

.shadow.top{
   margin-top: -26px;
   z-index: 3;
}

.content{
   padding-top: 50px;
   padding-bottom: 80px;
   position: relative;
}

.absolute-bot{
   position: absolute;
   bottom: 0px;
   box-sizing: border-box;
   width: 100%;
   padding-right: 20px; 
}

.column{
   float: left;
   width: 50%;
   /*padding-right: 20px;*/
   box-sizing: border-box;
   position: relative;

}

.column a{
   color: #602e15;
}

.column a:hover{
   color: #cbaf55;
}

.style-menu{
   padding-left: 150px;
}

.column + .column{
   padding-right: 0;
   padding-left: 20px;
}

h1, .fake-h1{
   font-family: Times New Roman;
   color: #602e15;
   font-style: italic;
   margin-top: -10px;
   margin-bottom: 25px;
   font-size: 38px;
   line-height: 35px;
}

p{
   font-size: 14px;
   color: #000000;
   line-height: 18px;
   margin-bottom: 15px;
}

.clear{
   clear: both;
}

.form-head{
   background: url('../img/form-head.png');
   width: 382px;
   height: 49px;
   padding-left: 32px;
   color: #cbaf55;
   font-size: 20px;
   line-height: 49px;
   box-sizing: border-box;
   box-shadow: 0 0 20px rgba(0,0,0,0.8);
}

.form-bron{
   display: inline-block;
   float: right;
   background: #ffffff;
   overflow: hidden;
   width: 382px;
}

.shadow-bron{
   background: url('../img/shadow-form.png') no-repeat scroll 50% 0;
   width: 382px;
   height: 16px;
   float: right;
}

input{
   background-color: #eee9e1;
   border: 1px solid #cbaf55;
   height: 25px;
   line-height: 25px;
   padding: 0 6px;
   outline: none;
   position: relative;

   background-image: linear-gradient(bottom, rgba(203,175,85,0), rgba(203,175,85,0.2) 85%, rgba(203,175,85,0.4));
   background-image: -o-linear-gradient(bottom, rgba(203,175,85,0), rgba(203,175,85,0.2) 85%, rgba(203,175,85,0.4));
   background-image: -moz-linear-gradient(bottom, rgba(203,175,85,0), rgba(203,175,85,0.2) 85%, rgba(203,175,85,0.4));
   background-image: -webkit-linear-gradient(bottom, rgba(203,175,85,0), rgba(203,175,85,0.2) 85%, rgba(203,175,85,0.4));
   background-image: -ms-linear-gradient(bottom, rgba(203,175,85,0), rgba(203,175,85,0.2) 85%, rgba(203,175,85,0.4));
   background-image: -webkit-gradient(linear, right bottom, right top, color-stop(0, rgba(203,175,85,0)), color-stop(85%, rgba(203,175,85,0.2)), color-stop(1, rgba(203,175,85,0.4)));
}

.form-bron .column{
   padding-left: 32px;
   padding-top: 20px;
   font-size: 12px;
   color: #000000;
   position: relative;
   padding-right: 16px;
   line-height: 18px;
}

.form-bron input{
   margin-bottom: 20px;
   width: 100%;
   box-sizing: border-box;
}

.pseudo-cal{
   background: url('../img/cal.png') no-repeat;
   width: 21px;
   height: 13px;
   margin-left: 115px;
   position: absolute;
   margin-top: 6px;
   z-index: 2;
}

.form-bron .column + .column{
   padding-right: 32px;
   padding-left: 16px;
}

.small-col{
   float: left;
   width: 50%;
   padding-right: 8px;
   box-sizing: border-box;
}

.small-col + .small-col{
   padding-left: 8px;
   padding-right: 0;
}

input.button-send{
   background: url('../img/send.png') no-repeat;
   width: 142px;
   height: 33px;
   border: none;
   cursor: pointer;
}

input.button-send:hover{
   background: url('../img/send-hover.png') no-repeat;
}

.col3{
   width: 97px;
   text-align: center;
   margin-top: 40px;
   font-style: italic;
   font-family: Times New Roman;
   font-weight: bold;
   line-height: 18px;
   display: inline-block;
}

.col3 + .col3{
   margin: 0 30px;
}

.col3:last-child{
   margin: 0;
}

.ico-pr{
   height: 80px;
   vertical-align: top;
}

.ico-pr img{
   vertical-align: top;
}

.cols3{
   text-align: right;
}

.foot{
   background: url('../img/foot.png');
   height: 220px;
}

.bot-menu{
   color: #ffffff;
   font-size: 12px;
   line-height: 88px;
}

.bot-menu a{
   text-decoration: none;
   margin: 0 10px;
}

.bot-menu a:first-child{
   margin-left: 0;
}

.bot-menu a.active{
   color: #cbaf55;
}

.some-info{
   color: #ffffff;
   line-height: 17px;
   font-size: 12px;
   margin-top: 50px;
}

.right-foot{
   width: 173px;
   float: right;
   font-size: 14px;
   line-height: 17px;
   position: absolute;
   right: 0;
   margin-top: 35px;
   color: #ffffff;
   text-align: center;
}

.right-foot .bron-button{
   margin-top: 30px;
}

.right-foot > img{
   margin: 8px 0 35px;
}

.wind{
   background: rgba(255,255,255,0.9);
   width: 625px;
   position: fixed;
   top: 50%;
   padding: 100px 0 50px;
   left: 50%;
   margin-left: -312px;
   box-shadow: 0 0 15px rgba(0,0,0,0.5);
   text-align: center;
   z-index: 30;
   display: none;
}

.title-wind{
   font-size: 24px;
   line-height: 80px;
}

.text-wind{
   font-size: 14px;
   margin-bottom: 80px;
}

.close-wind-button{
   background: url('../img/close-but.png') no-repeat;
   width: 142px;
   height: 33px;
   display: inline-block;
   cursor: pointer;
}

.close-wind-button:hover{
   opacity: 0.8;
}

.wind .form-bron{
   float: none;
   background: none;
   text-align: left;
}

.wind .form-head{
   background: none;
   box-shadow: none;
}

.close-but{
   position: absolute;
   background: url('../img/close.png') no-repeat;
   width: 22px;
   height: 21px;
   cursor: pointer;
   right: 20px;
   top: 20px;
}

.close-but:hover{
   opacity: 0.6;
}

.count-g{
   font-size: 20px;
   color: #cbaf55;
   line-height: 40px;
   background: url('../img/line2.png') no-repeat scroll 0 100%;
   font-family: Times New Roman;
}

.count-g span{
   font-size: 25px;
}

.rub{
   color: #602e15;
   font-size: 38px;
   line-height: 50px;
   font-family: Times New Roman;
}

.our-day{
   color: #602e15;
   font-size: 20px;
   line-height: 8px;
   font-family: Times New Roman;
   margin-bottom: 37px;
}

.but1{
   background: url('../img/but1.png') ;
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   padding: 0 15px;
   display: inline-block;
   cursor: pointer;
   color: #ffffff;
   font-size: 16px;
   height: 33px;
   line-height: 31px;
}

.but1:hover{
   background: url('../img/but1-hover.png');
}

.padding-left{
   padding-left: 130px !important;
}

.title-usl{
   font-size: 24px;
   margin-bottom: 20px;
}

.usl p{
   font-size: 14px;
   line-height: 20px;
   margin-top: 20px;
}

.usl{
   width: 382px;
   margin: 25px 80px 25px 0;
}

li{
   font-size: 14px;
   line-height: 20px;
   padding-left: 18px;

}

li:before{
   content: "—";
   position: absolute;

   margin-left: -18px;
}

p + ul{
   margin-top: -15px;
}

p.light{
   font-size: 12px;
   color: #636363;
   line-height: 18px;
}

p.light b{
   font-weight: bold;
   font-size: 14px;
}

.table-menu{
   width: 100%;
   color: #636363;
   line-height: 18px;
   margin-bottom: 25px;
}

.table-menu tr{
   border-bottom: 1px solid #cbcbcb;
}

.table-menu td{
   padding-bottom: 5px;
   vertical-align: bottom;
   padding-top: 17px;
}

.table-menu tr:hover b{
   color: #cbaf55;
}

.table-menu tr:hover .price{
   color: #cbaf55;
}

.title-product{
   width: 720px;
   font-size: 12px;

}

.title-product b{
   color: #000000;
   font-size: 14px;
}

.weight{
   font-size: 14px;

}

.price{
   text-align: right;
   font-weight: bold;
   font-size: 24px;
}

.price span{
   font-weight: normal;
}

.title-menu{
   font-size: 24px;
   color: #000000;
   margin-bottom: 5px;
   margin-top: 65px;
}

.td-bank{
   font-size: 14px;
   color: #000000;
}

.td-link{
   text-align: right;
   color: #636363;
}

.td-link a{
   color: #636363;
   font-size: 14px;
   text-decoration: none;
}

.td-link a span{
   font-weight: bold;
   background: #626262;
   color: #ffffff;
   border-radius: 4px;
   font-size: 11px;
   padding: 0 3px;
   display: inline-block;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
}

.td-link a:hover span{
   background: #cbaf55;
}

.usl .title-menu{
   margin-top: 15px;
}

.one-photo{
   font-size: 12px;
   color: #000000;
   height: 270px;
   width: 300px;
   float: left;
   margin-right: 20px;
   cursor: pointer;

   

}

.oh{
   width: 300px;
   height: 200px;
   overflow: hidden;
   margin-bottom: 5px;
}

.gal-trans  img{
   -webkit-transition-duration: 0.5s;
   -moz-transition-duration: 0.5s;
   -o-transition-duration: 0.5s;
   -ms-transition-duration: 0.5s; /* IE9+ */
   transition-duration: 0.5s;
}

.one-photo:hover img{
   transform: scale(1.1, 1.1);
   -webkit-transform: scale(1.1, 1.1);
   -moz-transform: scale(1.1, 1.1);
   -o-transform: scale(1.1, 1.1);
   -ms-transform: scale(1.1, 1.1);
}

.one-photo img{
   margin-bottom: 5px;
}

.paging{
   width: 50%;
   position: absolute;
   right: -5px;
   color: #acacac;
   text-align: right;
   font-size: 14px;
}

.paging a{
   text-decoration: none;
   color: #acacac;
   vertical-align: middle;
   margin: 0 5px;
}

.paging img{
   vertical-align: middle;
   margin: 0 5px;
}

.paging a.active{
   color: #cbaf55;
}

.paging a:hover{
   color: #cbaf55;
}

.gal{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0,0,0,0.86);
   z-index: 40;
   display: none;
}

.photo-cont{
   padding: 110px 0;
   position: absolute;
   z-index: 1;
   width: 940px;
   margin-left: -470px;
   left: 50%;
   top: 0;
   height: 100%;
   box-sizing: border-box;
}

.to-bg{
   width: 100%;
   height: 100%;
   background-size: contain;
   background-position: 50% 50%;
   background-repeat: no-repeat;
   -webkit-transition-duration: 1s;
   -moz-transition-duration: 1s;
   -o-transition-duration: 1s;
   -ms-transition-duration: 1s; /* IE9+ */
   transition-duration: 1s;
}

.title-photo{
   font-size: 22px;
   color: #cbaf55;
   text-align: center;
   font-family: Times New Roman;
   line-height: 110px;
   font-style: italic;
}

.gal .close-but{
   top: 45px;
   right: 0;
   z-index: 10;
}

.gal .paging{
   width: 100%;
   position: absolute;
   right: 0;
   bottom: 45px;
   text-align: center;
   z-index: 11;
}

.gal a{
   cursor: pointer;
}
